GROQ_API_KEY=
WIKI_ACCESS_TOKEN=

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT_NAME=
OPENAI_API_VERSION=
AZURE_OPENAI_API_KEY=